*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('../images/Back1.jpg'); 
  background-repeat: repeat-y; /* Hace que la imagen se repita solo en el eje vertical */
  background-size: auto 100%; /* Asegura que la imagen mantenga su ancho original y se ajuste al alto del contenedor */
  background-position: top center; /* Centra la imagen horizontalmente y la alinea al principio del contenedor */
}


/* Estilos del menu */
.header__nav{
  background-color: #89c7f2;
  position: sticky;
  top: 0;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header__nav--logo{
  height: 90%;
}

.header__nav__menu{
  font-size: 28px;
  
}

.header__nav__menu--link-hover{
  color: white;
  margin-left: 30px;
  text-decoration: none;
}

.header__nav__menu--link-hover:hover{
  text-decoration: none;
}

/* Estilos del contenedor sobre el estres */

.introduction__container{
  background-color: white;
  position: relative;
  display: flex;
  margin: 1% 5%;
  width: 90%;
  max-height: 400px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.introduction__image{
  width: 100%;
  height: 90%;
}
.introduction__content{
  position: absolute;
  max-width: 400px;
  max-height: 250px;
  overflow: hidden;
  top: 30%;
  left: 12%;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.introduction__title{
  font-size: 28px;
  font-weight: bold;
}

.introduction__text{
  margin-top: 5%;
  font-size: 16px;
  text-align: justify;
}

/* Estilos encuesta */

.survey__container{
  background-color: white;
  display: block;
  margin: 1% 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.survey__title{
  margin-bottom: 20px;
  text-align: center;
}

#surveyForm{
  margin: 10px;
}

.survey__questions {
  margin-bottom: 15px;
}

.survey__question{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.survey__options{
  width: 100%;
  margin: 0.5% 0 0.6% 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.survey__option{
  display: flex;
  align-items: center;
}

.survey__option input{
  margin-right: 15px;
}

#result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
} 

/* Estilos de los botones de respuesta */

.survey__button--hover {
  background: linear-gradient(45deg, #6db3f2, #1e3c72); /* Colores ajustados */
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 40%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(109, 179, 242, 0.75), 0 4px 15px rgba(30, 60, 114, 0.75);
}

.survey__button--hover:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 30px rgba(109, 179, 242, 0.75), 0 8px 30px rgba(30, 60, 114, 0.75);
}

/* Estilos de la cuadrícula */
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  text-decoration: none;
  background: linear-gradient(45deg, #6db3f2, #1e3c72); /* Colores ajustados */
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(109, 179, 242, 0.75), 0 4px 15px rgba(61, 92, 149, 0.75)
}

.grid-item:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.hidden {
  display: none;
}

/* Videos */
.video__image{
  width: 100%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de opacidad */
}

/* Estilos frame video */

.video{
  background-color: white;
  display: flex;
  margin: 1% 5%;
  width: 90%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.video__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 350px;
}

.video__iframe {
  width: 60%;
  height: 100%;
  border-radius: 10px;
}

.video__content {
  width: 35%;
  padding: 20px;
  background-color: white;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.video__title{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.video__text{
  margin-top: 5%;
  font-size: 16px;
  text-align: justify;
}

.video--impar .video__container {
    flex-direction: row-reverse; 
}

.video--par .video__container {
    flex-direction: row; 
}

/* Estilo Tarjeta */
#card-container {
  background-color: white;
  margin: 1% 5%;
}

.container__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center; 
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%; 
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  background-position: center center;
  background-size: cover;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 28%;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}